# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Blog of Yang
subtitle: '生生不息'
description: 'Welcome to my tech-focused blog! My name is Zongyou Yang, and I am currently pursuing a joint degree in Telecommunications Engineering with Management at Beijing University of Posts and Telecommunications (BUPT) in collaboration with Queen Mary, University of London (QMUL).'
keywords:
  - AI
  - Deep Learning
  - Time Series
  - Autonomous Driving
author: Zachary Yang
language: en
timezone: Asia/Shanghai

# URL
## Set your site url here.
url: https://yangzongyou.com
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true
  trailing_html: true

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: true
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
meta_generator: true

# Date / Time format
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: 'mtime'

# Pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
include:
exclude:
ignore:

# Extensions
theme: next

# Search
search:
  path: search.xml
  field: post
  content: true
  format: html

# Deployment
deploy:
  type: git
  repo: https://github.com/tongjiu123/tongjiu123.github.io.git
  branch: main
